## Prueba de datos

In [7]:
import pandas as pd 
#cargar base de datos
file_path = 'C:\Estudio\pandas_numpy\pythonProyecto\pruebasetdatos.csv'
data = pd.read_csv(file_path, sep=';', encoding='utf-8')

In [8]:
print(data.info()) #imprimir la informacion preliminar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045501 entries, 0 to 1045500
Data columns (total 14 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   TipoIdentificacionCodigo  1045501 non-null  int64
 1   NumeroIdentificacion      1045501 non-null  object
 2   Nombre                    1045453 non-null  object
 3   Apellido                  1004402 non-null  object
 4   FecNacimiento             1045501 non-null  object
 5   EstadoLaboralCodigo       1043130 non-null  float64
 6   Sexo                      1043130 non-null  float64
 7   Genero                    997352 non-null   object
 8   Estudiante                1043128 non-null  float64
 9   EstadoCodigo              265036 non-null   float64
 10  PersonasACargo            540059 non-null   float64
 11  Foto                      1045501 non-null  object
 12  FechaCreacionCliente      1045501 non-null  object
 13  Estado                    1045501 non-null  object
dtypes: float64(5), int64(1), object(8)
memory usage: 111.7+ MB
None

In [9]:
# Verifica el nombre de la columna original
print(data.columns)

Index(['TipoIdentificacionCodigo', 'NumeroIdentificacion', 'Nombre',
       'Apellido', 'FecNacimiento', 'EstadoLaboralCodigo', 'Sexo', 'Genero',
       'Estudiante', 'EstadoCodigo', 'PersonasACargo', 'Foto',
       'FechaCreacionCliente', 'Estado'],
      dtype='object')

In [10]:
print(data.info()) #imprimir la informacion preliminar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045501 entries, 0 to 1045500
Data columns (total 14 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   TipoIdentificacionCodigo  1045501 non-null  int64
 1   NumeroIdentificacion      1045501 non-null  object
 2   Nombre                    1045453 non-null  object
 3   Apellido                  1004402 non-null  object
 4   FecNacimiento             1045501 non-null  object
 5   EstadoLaboralCodigo       1043130 non-null  float64
 6   Sexo                      1043130 non-null  float64
 7   Genero                    997352 non-null   object
 8   Estudiante                1043128 non-null  float64
 9   EstadoCodigo              265036 non-null   float64
 10  PersonasACargo            540059 non-null   float64
 11  Foto                      1045501 non-null  object
 12  FechaCreacionCliente      1045501 non-null  object
 13  Estado                    1045501 non-null  object
dtypes: float64(5), int64(1), object(8)
memory usage: 111.7+ MB
None

In [11]:
#valores faltantes
data.isnull().sum()

TipoIdentificacionCodigo         0
NumeroIdentificacion             0
Nombre                          48
Apellido                     41099
FecNacimiento                    0
EstadoLaboralCodigo           2371
Sexo                          2371
Genero                       48149
Estudiante                    2373
EstadoCodigo                780465
PersonasACargo              505442
Foto                             0
FechaCreacionCliente             0
Estado                           0
dtype: int64

In [33]:
#duplicados
data.duplicated().sum()

np.int64(0)

In [13]:
unique_values = {col : data[col].unique() for col in data.columns}
for col, values in unique_values.items():
    print(f'columna:  {col}')
    print(f'Número devalores únicos: {len(values)}')
    print(f'Valores únicos: {values[:10]}')
    print('-' *50)

columna:  TipoIdentificacionCodigo
Número devalores únicos: 3
Valores únicos: [0 3 1]
--------------------------------------------------
columna:  NumeroIdentificacion
Número devalores únicos: 715903
Valores únicos: ['824670' '582024' '518445B' '705180' '45069945' '470024' '125425' '16655'
 '649575B' '804468']
--------------------------------------------------
columna:  Nombre
Número devalores únicos: 58082
Valores únicos: ['GUILLERMO' 'DAVID' 'PATRICIA' 'SEBASTIAN' 'ALFONSO' 'humberto' 'LORENZO'
 'maria' 'Sebastian' 'ANDREA']
--------------------------------------------------
columna:  Apellido
Número devalores únicos: 30628
Valores únicos: ['RESTREPO' 'GALVEZ' 'ARANGO' 'COSSIO' 'SANDOVAL' 'ARROYAVE' 'Garcia'
 'GUTIERREZ' 'MUÑOZ ' 'reyes']
--------------------------------------------------
columna:  FecNacimiento
Número devalores únicos: 1019713
Valores únicos: ['1984-04-02 04:18:06.197' '1900-01-01 00:00:00.000'
 '1984-01-06 07:12:05.200' '1988-05-22 00:14:39.080'
 '1900-08-19 03:09:45.153' '1977-10-27 00:07:40.330'
 '1970-06-29 13:36:23.617' '1902-04-13 03:31:10.923'
 '1986-04-01 02:11:29.640' '1987-11-14 22:11:20.353']
--------------------------------------------------
columna:  EstadoLaboralCodigo
Número devalores únicos: 3
Valores únicos: [ 1.  0. nan]
--------------------------------------------------
columna:  Sexo
Número devalores únicos: 3
Valores únicos: [ 0.  1. nan]
--------------------------------------------------
columna:  Genero
Número devalores únicos: 5
Valores únicos: ['Masculino' 'Femenino' 'Female' nan 'Male']
--------------------------------------------------
columna:  Estudiante
Número devalores únicos: 3
Valores únicos: [ 0.  1. nan]
--------------------------------------------------
columna:  EstadoCodigo
Número devalores únicos: 12
Valores únicos: [ 1. 12. 23.  7. 11.  9.  3. 25. 21. nan]
--------------------------------------------------
columna:  PersonasACargo
Número devalores únicos: 32
Valores únicos: [nan  1.  0.  2.  3.  5.  4.  6. 52. 10.]
--------------------------------------------------
columna:  Foto
Número devalores únicos: 2
Valores únicos: ['N' 'S']
--------------------------------------------------
columna:  FechaCreacionCliente
Número devalores únicos: 777567
Valores únicos: ['1990-01-01 00:00:00.000' '2013-11-28 15:26:49.007'
 '2014-01-02 20:32:49.483' '2014-06-05 07:28:25.367'
 '2014-07-21 09:44:27.130' '2014-08-21 09:06:14.903'
 '2014-10-25 19:03:43.377' '2014-11-07 03:30:38.663'
 '2014-11-12 09:08:14.873' '2014-11-15 08:28:06.207']
--------------------------------------------------
columna:  Estado
Número devalores únicos: 2
Valores únicos: ['No Aprobado' 'Aprobado']
--------------------------------------------------

In [14]:
data_cleaned = data
data_cleaned = data_cleaned.dropna(subset=['Nombre', 'Apellido'])

In [15]:
#valores faltantes
data_cleaned.isnull().sum()

TipoIdentificacionCodigo         0
NumeroIdentificacion             0
Nombre                           0
Apellido                         0
FecNacimiento                    0
EstadoLaboralCodigo           2253
Sexo                          2253
Genero                       46007
Estudiante                    2254
EstadoCodigo                746955
PersonasACargo              486951
Foto                             0
FechaCreacionCliente             0
Estado                           0
dtype: int64

In [16]:
data_cleaned = data_cleaned.dropna(subset=['EstadoLaboralCodigo', 'Sexo', 'Genero', 'Estudiante', 'EstadoCodigo' ])

In [17]:
#valores faltantes
data_cleaned.isnull().sum()

TipoIdentificacionCodigo         0
NumeroIdentificacion             0
Nombre                           0
Apellido                         0
FecNacimiento                    0
EstadoLaboralCodigo              0
Sexo                             0
Genero                           0
Estudiante                       0
EstadoCodigo                     0
PersonasACargo              196550
Foto                             0
FechaCreacionCliente             0
Estado                           0
dtype: int64

In [18]:
unique_values = {col : data_cleaned[col].unique() for col in data_cleaned.columns}
for col, values in unique_values.items():
    print(f'columna:  {col}')
    print(f'Número devalores únicos: {len(values)}')
    print(f'Valores únicos: {values[:10]}')
    print('-' *50)

columna:  TipoIdentificacionCodigo
Número devalores únicos: 2
Valores únicos: [0 3]
--------------------------------------------------
columna:  NumeroIdentificacion
Número devalores únicos: 231956
Valores únicos: ['824670' '582024' '518445B' '705180' '45069945' '470024' '125425' '16655'
 '649575B' '804468']
--------------------------------------------------
columna:  Nombre
Número devalores únicos: 17094
Valores únicos: ['GUILLERMO' 'DAVID' 'PATRICIA' 'SEBASTIAN' 'ALFONSO' 'humberto' 'LORENZO'
 'maria' 'Sebastian' 'ANDREA']
--------------------------------------------------
columna:  Apellido
Número devalores únicos: 9962
Valores únicos: ['RESTREPO' 'GALVEZ' 'ARANGO' 'COSSIO' 'SANDOVAL' 'ARROYAVE' 'Garcia'
 'GUTIERREZ' 'MUÑOZ ' 'reyes']
--------------------------------------------------
columna:  FecNacimiento
Número devalores únicos: 255281
Valores únicos: ['1984-04-02 04:18:06.197' '1900-01-01 00:00:00.000'
 '1984-01-06 07:12:05.200' '1988-05-22 00:14:39.080'
 '1900-08-19 03:09:45.153' '1977-10-27 00:07:40.330'
 '1970-06-29 13:36:23.617' '1902-04-13 03:31:10.923'
 '1986-04-01 02:11:29.640' '1987-11-14 22:11:20.353']
--------------------------------------------------
columna:  EstadoLaboralCodigo
Número devalores únicos: 2
Valores únicos: [1. 0.]
--------------------------------------------------
columna:  Sexo
Número devalores únicos: 2
Valores únicos: [0. 1.]
--------------------------------------------------
columna:  Genero
Número devalores únicos: 4
Valores únicos: ['Masculino' 'Femenino' 'Female' 'Male']
--------------------------------------------------
columna:  Estudiante
Número devalores únicos: 2
Valores únicos: [0. 1.]
--------------------------------------------------
columna:  EstadoCodigo
Número devalores únicos: 11
Valores únicos: [ 1. 12. 23.  7. 11.  9.  3. 25. 21. 22.]
--------------------------------------------------
columna:  PersonasACargo
Número devalores únicos: 18
Valores únicos: [nan  1.  0.  2.  3.  5.  4.  6. 10. 14.]
--------------------------------------------------
columna:  Foto
Número devalores únicos: 2
Valores únicos: ['N' 'S']
--------------------------------------------------
columna:  FechaCreacionCliente
Número devalores únicos: 1
Valores únicos: ['1990-01-01 00:00:00.000']
--------------------------------------------------
columna:  Estado
Número devalores únicos: 2
Valores únicos: ['No Aprobado' 'Aprobado']
--------------------------------------------------

In [19]:
print(data_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 257403 entries, 0 to 267930
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TipoIdentificacionCodigo  257403 non-null  int64
 1   NumeroIdentificacion      257403 non-null  object
 2   Nombre                    257403 non-null  object
 3   Apellido                  257403 non-null  object
 4   FecNacimiento             257403 non-null  object
 5   EstadoLaboralCodigo       257403 non-null  float64
 6   Sexo                      257403 non-null  float64
 7   Genero                    257403 non-null  object
 8   Estudiante                257403 non-null  float64
 9   EstadoCodigo              257403 non-null  float64
 10  PersonasACargo            60853 non-null   float64
 11  Foto                      257403 non-null  object
 12  FechaCreacionCliente      257403 non-null  object
 13  Estado                    257403 non-null  object
dtypes: float64(5), int64(1), object(8)
memory usage: 29.5+ MB
None

In [20]:
data_cleaned.head()

,TipoIdentificacionCodigo,NumeroIdentificacion,Nombre,Apellido,FecNacimiento,EstadoLaboralCodigo,Sexo,Genero,Estudiante,EstadoCodigo,PersonasACargo,Foto,FechaCreacionCliente,Estado
0,0,824670,GUILLERMO,RESTREPO,1984-04-02 04:18:06.197,1.0,0.0,Masculino,0.0,1.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
1,0,582024,DAVID,GALVEZ,1900-01-01 00:00:00.000,1.0,0.0,Masculino,0.0,1.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
2,0,518445B,PATRICIA,ARANGO,1984-01-06 07:12:05.200,1.0,1.0,Femenino,0.0,1.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
3,0,705180,DAVID,COSSIO,1988-05-22 00:14:39.080,0.0,0.0,Masculino,0.0,1.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
4,0,45069945,SEBASTIAN,SANDOVAL,1900-08-19 03:09:45.153,1.0,0.0,Masculino,0.0,1.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado

In [21]:
# Eliminar varias columnas
data_cleaned = data_cleaned.drop(['TipoIdentificacionCodigo', 'EstadoLaboralCodigo', 'Sexo', 'EstadoCodigo'], axis=1)

In [22]:
data_cleaned.head()

,NumeroIdentificacion,Nombre,Apellido,FecNacimiento,Genero,Estudiante,PersonasACargo,Foto,FechaCreacionCliente,Estado
0,824670,GUILLERMO,RESTREPO,1984-04-02 04:18:06.197,Masculino,0.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
1,582024,DAVID,GALVEZ,1900-01-01 00:00:00.000,Masculino,0.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
2,518445B,PATRICIA,ARANGO,1984-01-06 07:12:05.200,Femenino,0.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
3,705180,DAVID,COSSIO,1988-05-22 00:14:39.080,Masculino,0.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
4,45069945,SEBASTIAN,SANDOVAL,1900-08-19 03:09:45.153,Masculino,0.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado

In [23]:
data_cleaned = data_cleaned.rename(columns={'FecNacimiento': 'FechaDeNacimiento'})
data_cleaned.head()

,NumeroIdentificacion,Nombre,Apellido,FechaDeNacimiento,Genero,Estudiante,PersonasACargo,Foto,FechaCreacionCliente,Estado
0,824670,GUILLERMO,RESTREPO,1984-04-02 04:18:06.197,Masculino,0.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
1,582024,DAVID,GALVEZ,1900-01-01 00:00:00.000,Masculino,0.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
2,518445B,PATRICIA,ARANGO,1984-01-06 07:12:05.200,Femenino,0.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
3,705180,DAVID,COSSIO,1988-05-22 00:14:39.080,Masculino,0.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado
4,45069945,SEBASTIAN,SANDOVAL,1900-08-19 03:09:45.153,Masculino,0.0,NaN,N,1990-01-01 00:00:00.000,No Aprobado

In [24]:
unique_values = {col : data_cleaned[col].unique() for col in data_cleaned.columns}
for col, values in unique_values.items():
    print(f'columna:  {col}')
    print(f'Número devalores únicos: {len(values)}')
    print(f'Valores únicos: {values[:10]}')
    print('-' *50)

columna:  NumeroIdentificacion
Número devalores únicos: 231956
Valores únicos: ['824670' '582024' '518445B' '705180' '45069945' '470024' '125425' '16655'
 '649575B' '804468']
--------------------------------------------------
columna:  Nombre
Número devalores únicos: 17094
Valores únicos: ['GUILLERMO' 'DAVID' 'PATRICIA' 'SEBASTIAN' 'ALFONSO' 'humberto' 'LORENZO'
 'maria' 'Sebastian' 'ANDREA']
--------------------------------------------------
columna:  Apellido
Número devalores únicos: 9962
Valores únicos: ['RESTREPO' 'GALVEZ' 'ARANGO' 'COSSIO' 'SANDOVAL' 'ARROYAVE' 'Garcia'
 'GUTIERREZ' 'MUÑOZ ' 'reyes']
--------------------------------------------------
columna:  FechaDeNacimiento
Número devalores únicos: 255281
Valores únicos: ['1984-04-02 04:18:06.197' '1900-01-01 00:00:00.000'
 '1984-01-06 07:12:05.200' '1988-05-22 00:14:39.080'
 '1900-08-19 03:09:45.153' '1977-10-27 00:07:40.330'
 '1970-06-29 13:36:23.617' '1902-04-13 03:31:10.923'
 '1986-04-01 02:11:29.640' '1987-11-14 22:11:20.353']
--------------------------------------------------
columna:  Genero
Número devalores únicos: 4
Valores únicos: ['Masculino' 'Femenino' 'Female' 'Male']
--------------------------------------------------
columna:  Estudiante
Número devalores únicos: 2
Valores únicos: [0. 1.]
--------------------------------------------------
columna:  PersonasACargo
Número devalores únicos: 18
Valores únicos: [nan  1.  0.  2.  3.  5.  4.  6. 10. 14.]
--------------------------------------------------
columna:  Foto
Número devalores únicos: 2
Valores únicos: ['N' 'S']
--------------------------------------------------
columna:  FechaCreacionCliente
Número devalores únicos: 1
Valores únicos: ['1990-01-01 00:00:00.000']
--------------------------------------------------
columna:  Estado
Número devalores únicos: 2
Valores únicos: ['No Aprobado' 'Aprobado']
--------------------------------------------------

In [25]:
# Reemplazar valores
data_cleaned['Genero'] = data_cleaned['Genero'].replace({'male': 'Masculino', 
                                    'female': 'Femenino', 
                                    'Male': 'Masculino', 
                                    'Female': 'Femenino'})

In [26]:
data_cleaned['Estudiante'] = data_cleaned['Estudiante'].replace({0: 'No', 
                                    1: 'Sí'})

In [27]:
data_cleaned['PersonasACargo'] = data_cleaned['PersonasACargo'].replace({'nan': 0})

In [28]:
data_cleaned['Foto'] = data_cleaned['Foto'].replace({'N': 'No', 
                                    'S': 'Sí'})

In [29]:
data_cleaned['PersonasACargo'] = data_cleaned['PersonasACargo'].fillna(0) #porque tengo datos con nan

In [30]:
# Convertir a mayúsculas con apply()
data_cleaned['Nombre'] = data_cleaned['Nombre'].apply(lambda x: x.upper())
data_cleaned['Apellido'] = data_cleaned['Apellido'].apply(lambda x: x.upper())

In [31]:
print(data_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 257403 entries, 0 to 267930
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   NumeroIdentificacion  257403 non-null  object
 1   Nombre                257403 non-null  object
 2   Apellido              257403 non-null  object
 3   FechaDeNacimiento     257403 non-null  object
 4   Genero                257403 non-null  object
 5   Estudiante            257403 non-null  object
 6   PersonasACargo        257403 non-null  float64
 7   Foto                  257403 non-null  object
 8   FechaCreacionCliente  257403 non-null  object
 9   Estado                257403 non-null  object
dtypes: float64(1), object(9)
memory usage: 21.6+ MB
None

In [61]:
num_duplicados = data_cleaned['NumeroIdentificacion'].duplicated().sum()
print(num_duplicados)

25447

In [67]:
data_newcleaned = data_cleaned.drop_duplicates(subset = 'NumeroIdentificacion')
print(num_duplicados)
print(data_newcleaned.info())

25447
<class 'pandas.core.frame.DataFrame'>
Index: 231956 entries, 0 to 267930
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   NumeroIdentificacion  231956 non-null  object
 1   Nombre                231956 non-null  object
 2   Apellido              231956 non-null  object
 3   FechaDeNacimiento     231956 non-null  object
 4   Genero                231956 non-null  object
 5   Estudiante            231956 non-null  object
 6   PersonasACargo        231956 non-null  float64
 7   Foto                  231956 non-null  object
 8   FechaCreacionCliente  231956 non-null  object
 9   Estado                231956 non-null  object
dtypes: float64(1), object(9)
memory usage: 19.5+ MB
None

In [68]:
num_duplicados = data_newcleaned['NumeroIdentificacion'].duplicated().sum()
print(num_duplicados)

0

In [74]:
import re

def eliminar_letras_y_puntos(numero):
    return re.sub(r'[a-zA-Z.]', '', numero)

data_newcleaned['NumeroIdentificacion'] = data_newcleaned['NumeroIdentificacion'].apply(eliminar_letras_y_puntos)

C:\Users\damak\AppData\Local\Temp\ipykernel_4504\627533812.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_newcleaned['NumeroIdentificacion'] = data_newcleaned['NumeroIdentificacion'].apply(eliminar_letras_y_puntos)